node_modules
coverage
*.log
.vscode
examples
test
public
.nyc_output
scripts
.github
.mocharc.json
.nvmrc
.prettierignore
.prettierrc.json
localstack.sh
tsconfig.cjs.json
tsconfig.esm.json
tsconfig.json
typedoc.json